@charset "utf-8";

/* 
    선택자의 종류
    1. 요소(태그,타입)
    2. 그룹: ,
    3. 클래스 선택자: .이름  << 사용자가 만들어 쓰는 선택자(앞에 .을 찍는걸 잊지말기)
*/

div {
    width: 1200px;
    margin: 0 auto; /* 컨텐츠를 가로 가운데 정렬 시키는 방법 */
    /* margin: 상하 여백 좌우 여백 순으로 적힌거임 */
    /* 좌우 여백이 된 이유는 width가 설정되어 있기 때문 */
}

.div1 {
    background: #e7b8f3;
    height: 100px;
}

.div2 {
    background: rgb(175, 223, 255);
    height: 300px;
}

.div3 {
    background: #b8f3da;
    height: 200px;
}

.div4 {
    background: #f3f2b8;
    height: 100px;
}