@charset "utf-8";

.box {
    background: #e09aa9;
    margin: 12px;
    height:200px;
}

div div {
    background: #ffc420;
}

/* 
    text-align: 인라인 요소, 텍스트 가로 정렬
    
    텍스트 세로 가운데 정렬
    1. line-height 속성을 이용해 height 속성 크기와 같게 지정(텍스트가 딱 한 줄일 때만 가능함)
    2. padding을 지정하기(height 지정하면 안됨)
*/

div:nth-of-type(1) div{
    text-align: left;
}

div:nth-of-type(2) div{
    text-align: center;
}

div:nth-of-type(3) div{
    text-align: right;
}

.box span {
    padding: 4px 12px;
    border: 1px solid #ddffff;
}