@charset "utf-8";

/* 
    그룹 선택자: ,

    전체 선택자: *
    *은 모든 요소를 가리킴
    부모 * >> 부모 안에 있는 자식 전체에 적용
*/

body * {
    outline: 1px solid #659aeb;
}

body {
    margin: 0;
}

nav {
    height: 100px;
}

header {
    height: 200px;
}

section {
    width: 940px;
    margin: 0 auto;
}

.home-card {
    display: flex;
}
.home-icon {
    width: 100px;
    height: 100px;
}
.home-description {
    width: 790px;
    height: 140px;
}