@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/*
    color 색
    font
    font-family 글꼴
    font-size 크기
    font-style: italic; 이탤릭
    font-weight 굵기 (100~900 사이 (100단위로))
    text-align 맞춤
    line-height 줄간격(단위 생략 가능>> 150%를 1.5라고 적는 식으로) >> 본문 줄간격 150~200% 사이로 지정하는게 가독성이 좋음 
*/

/* 
    Style guide(스타일 가이드)
    영문 제목: Georgia >> h1~h3, Nav a
    영문 본문: Ariel >> body, p, Section a
    한글 제목: Noto Sans KR
    한글 본문: Noto Sans KR

    단위: rem, em, px, %

    h1: 50px, 700, line-height 60
    h2: 30px, 700, line-height 36
    h3: 22.5px, 700, line-height 33.75
    h3 span: 22.5px, 400(기본 굵기), line-height 33.75
    Nav a: 20px, line-height 100
    body(Section a, p 포함): 15px, line-height 1.5
*/

html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.6 Helvetica, Arial, sans-serif;
}

h1, h2, h3, nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.KOR, p {
    font-family: "Noto Sans KR";
}

h1 {
    font-size: 50px;
    color: #ffffff;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.25rem;
}

a {
    text-decoration: underline;
    color: #444444;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
}