@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* reset */
* {box-sizing: border-box;}

:root {font-size: 12px;}

body,ul {margin: 0 auto;}

ul {
    padding-left: 0;
    list-style: none;
}

a, p, h1, h2, h3 {
    margin: 0;
    text-decoration: none;
    color: #4A433B;
    font: 400 16px "Noto Sans KR",sans-serif;
}

/* //reset */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 개요 시작 */
section {
    width: 1903px;
}

/* image files */
.infoIMG01 {
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background: url(https://oceanflavorstarcandy.github.io/web0422//assets/team/info/img01.jpg);
}

.infoIMG02 {
    width: 568px;
    height: 568px;
    background-repeat: no-repeat;
    background: url(https://oceanflavorstarcandy.github.io/web0422//assets/team/info/img02.jpg);
}

.infoIMG03, .infoIMG04, .infoIMG05 {
    width: 580px;
    height: 520px;
    background-repeat: no-repeat;
}

.infoIMG03 {
    background: url(https://oceanflavorstarcandy.github.io/web0422//assets/team/info/img03.jpg);
}

.infoIMG04 {
    background: url(https://oceanflavorstarcandy.github.io/web0422//assets/team/info/img04.jpg);
}

.infoIMG05 {
    background: url(https://oceanflavorstarcandy.github.io/web0422//assets/team/info/img05.jpg);
}