@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

/* html = :root 입니다 >> html이라고 적어도 됨 */
:root {
    scroll-behavior: smooth; /* to the top을 부드럽게 동작하게 만들어줌 */
}

/* navigation */
nav {
    /* height: 100px; */
    line-height: 100px;
}
nav section {
    display: flex;
    justify-content: flex-end;
    /* align-items: center;
    height: 100px; */ /* << 위에 적은 line-height로 대체합니다 */
}
nav ul {
    display: flex;
}
nav li:nth-of-type(1)::after {
    content:"";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 8px;
    background: #999999;
}

/* header */
header {
    line-height: 200px;
    background: url(../assets/bg-light.png) no-repeat 50% 50%/cover fixed; /* 패럴렉스 기법 */
}

section {
    width: 940px;
    margin: 0 auto;
}

h2 {
    margin: 56px 0;
}

main{
    padding-bottom: 200px;
}

.home-card {
    display: flex;
    justify-content: space-between;
}
.home-icon {
    width: 100px;
    height: 100px;
}
.home-description {
    width: 790px;
    height: 140px;
}

h3 span {
    font-weight: 400;
}

/* section */
header section {
    line-height: 200px;
}

/* footer */
footer p {
    text-align: center;
}

/* 레이아웃 구조 파악을 위한 배경색 처리 */
nav { background: #79fff4; }
.home-icon { background: #99c8ee; }
.home-description { background: #7992ff; }