@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* reset */
* {box-sizing: border-box;}

:root {font-size: 12px;}

body,ul {margin: 0;}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* //reset */

/* header */
header {
    border: 1px solid;
    width: 100%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.Rtop, .gnb {
    border: 1px solid;
}

/* .Rtop 1depth*/
.top {
    display: flex;
}

.top>li {
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.top>li:hover {
    background: #f1ff9f; /* 임시적용함 */
}

/* .main 1depth */
.main {
    display: flex;
}

.main>li {
    width: 240px;
    height: 85px;
    line-height: 85px;
    text-align: center;
}

.main>li:hover {
    background: #85e085; /* 임시적용함 */
}